
.tituloPagina{
	font-style: inherit;
	color :#ffffff;
	font-size: 26px;
	font-family: Verdana;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 40px;
}



.img-seriado{
	width: 216px;
	height: 288px;
	background-color: yellow;
	align-items: center;
	
}

.form-control{
	width: 300px;
	margin-right: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
	height: 30px;
	float: right;

}


.hide{
	display: none;
}


.show{
	display: block;
}

	
.text-sinopse{
	text-align: left;
	font-size: 15px;
	float: left;
}

.add-watchlist{
	width: 100px;
	height: 30px;
	font-size: 10px;
}

.img-resumo{
	width: 150px;
	height: 200px;
}


