
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }




	
.text-sinopse{
	text-align: left;
	font-size: 15px;
	float: left;
}

.add-watchlist{
	width: 100px;
	height: 30px;
	font-size: 10px;
}

.img-resumo{
	width: 150px;
	height: 200px;
}


