.jumbotron{
	height: 20px;
	background-color: #691A99;
	float: left;
	width: 1370px;
	

}

.tituloPagina{
	font-style: inherit;
	color :#ffffff;
	font-size: 26px;
	font-family: Verdana;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 40px;
}



.img-seriado{
	width: 150px;
	background-color: yellow;
	
}

.form-control{
	width: 300px;
	margin-right: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
	height: 30px;
	float: right;

}


.botoes-view{
	height: 40px;
	margin-bottom: 30px;
	width: 100%;
	margin-top: 1px;
	background-color: #009688;
	float: left;
	color: white;
	clear: left;
	align-items: left;
	
	
}
	
.botao{
	background-color: #009688; 
	border: 0; 
	margin-top: 10px; 
	margin-left: 20px;
	color: white;
}

.add-watchlist{
	width: 100px;
	height: 30px;
	font-size: 10px;
}

.img-resumo{
	width: 150px;
	height: 200px;
}


