<!DOCTYPE html>
<html ng-app="seriesApp">
<head>
	<title>Laboratorio 2 - SI1 - 2017.1</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<script src="lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller/seriesAppCtrl.js"></script>
	<script src="js/controller/moduleCtrl.js"></script>
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>

</head>

<body ng-controller="seriesAppCtrl">
	<div class="jumbotron">
		<h4 class="tituloPagina">{{app}}</h4>
	</div>


	<div class="botoes-view">
		
		<input type="text" class="form-control" ng-model="buscaSerie"/>
		<a >
			<button class="botao" ng-click="irParaMinhasSeries()" > Minhas Series</button>
		</a>
		
		<a href="#" id="favoritas">
			<button class="botao" ng-click="irParaMinhaWatchlist()"> Watchlist </button>
		</a>
		<a href="#" id="watchlist">
			<button class="botao"> Favoritas</button>
		</a>
		
		<button style="margin-right: 30px; margin-top: 5px; height: 30px; background-color:#009688; float: right;" ng-click="formata()"> Busca</button>

	</div>	
	

	<div id="watchlist"></div>
	
	
	<div md-card layout="column" ng-repeat="serie in arrayExibido" class="col-sm-4">
		<a >
			<img src="{{serie.Poster}}" class="img-seriado" data-target="#infoSerieModal{{$index}}" data-toggle="modal">
		</a>
			
		

		<div class="modal" id="infoSerieModal{{$index}}" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						
						<h4 class="title" ng-bind="serie.Title"> {{serie.Plot}} </h4>
					</div>

						<div class="modal-body">
							<img src="{{serie.Poster}}" class="img-resumo">
								<button ng-click="addMinhasSeries(serie)"> Já vi.</button>
								<button ng-click="addWatchlist(serie)"> Quero Ver</button>

						</div>

					<div class="modal-footer">
						<button class="btn btn-primary" data-dismiss="modal"> Fechar</button>
					</div>
				</div>
			</div>
		</div>

	</div>


</body>
</html>
