<!DOCTYPE html>
<html ng-app="seriesApp">
<head>
	<title>Laboratorio 2 - SI1 - 2017.1</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<script src="lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller/seriesAppCtrl.js"></script>
	<script src="js/controller/moduleCtrl.js"></script>
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<body ng-controller="seriesAppCtrl">

<nav class="navbar navbar-default">
  <div class="container-fluid">
       	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
      		<a class="navbar-brand">Banco de Séries</a>
   		</div>


   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li class="active"><a href="#" ng-click="irParaMinhasSeries()">Minhas Series</a></li>
        		<li><a href="#" ng-click="irParaMinhaWatchlist()">Watchlist</a></li>
         	</ul>
      		
      		<form class="navbar-form navbar-left">
        	<div class="form-group">
          		<input type="text" class="form-control" placeholder="Search" ng-model="buscaSerie">
        	</div>
        <button type="submit" class="btn btn-default" ng-click="formata(buscaSerie)">Submit</button>
      </form>
       
    </div>
  </div>
</nav>

	<!---Alertas-->


	<div ng-show="notFoundSerie" class="alert alert-danger" style="margin: 30px;">
		Nenhuma série encontrada :(
	</div>





<div md-card layout="column" ng-repeat="serie in arrayExibido" class="col-sm-4">
	<div class="row">
 		 <div class="col-xs-6 col-md-5">
    		<a href="#" class="thumbnail">
      		<img src="{{serie.Poster}}" class="img-seriado" data-target="#infoSerieModal{{$index}}" data-toggle="modal" ng-click="buscaInfoSerie(serie.imdbID)"></a>
  		 </div>{{serie.Title}}
	</div>




		<div class="modal" id="infoSerieModal{{$index}}" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>{{serie.Title}}
					</div>

						<div class="modal-body">
							<div class="media">
  								<div class="media-left">
    								<a >
      								<img style="height: 250px;" src="{{serie.Poster}}"></a>
  									</div>
  									<div class="media-body">
   								 	 											
    								<p>Sinopse: {{idSerie.Plot}}</p>
    								<p>Faixa etária: {{idSerie.Rated}}</p>
    								<p>Média IMDB: {{idSerie.imdbRating}}</p>
    	    						<form name="myForm">
    								  <label for="repeatSelect"> Sua nota: </label>
     								  <select name="repeatSelect" id="repeatSelect" ng-model="optionsNotas">
      								  	<option ng-repeat="option in optionsNotas" value="{{option}}">{{option}}</option>
      								  </select>
  									</form>
      								<br/>
    								<br/>
    									<button ng-click="addMinhasSeries(serie)"> Já vi</button>
										<button ng-click="addWatchlist(serie)"> Quero Ver</button>
										<button class="btn btn-danger">Remover</button>
    								  	
  								</div>
							</div>
 						</div>	


					<div class="modal-footer"><button class="btn btn-primary" data-dismiss="modal" ng-click="removeWatchlist()"> Fechar</button></div>
				</div>
			</div>			
		</div>
</div>

					
	

</body>
</html>
